.button-container {
  display: flex;
  align-items: center;
}

.scheduling-button {
  background-color: #007bff; /* Set your desired background color */
  color: white;
  border: none;
  margin-right: 10px; /* Adjust the margin as needed */
}

.spacer {
  flex: 1;
}

.login-button {
  text-decoration: none;
  color: #007bff;
}